@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Semi-Bold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf');
}
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
:root{
    /*--global-primary-base: #64287d;
    --global-primary-dark: #441756;
    --global-secondary-color: #ffe000;
    --global-third-color: #bd9aec;*/
    --global-primary-base: #3c9ad8;
    --global-primary-dark: #195E8C;
    --global-secondary-color: #5d328c;
    --global-third-color: #61C0FF;
    --global-gray-base: #f5f2f2;
    --global-gray-dark: #e4e1e1;
}

.notr{
    background-color: #cccccc87;
}
.green{
    background-color: rgba(129, 232, 115, 0.73);
}
.red{
    background-color: rgba(232, 97, 72, 0.8);
}
.loginContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.formContainer{
    padding: 50px 80px;
    border-radius: 5px;
    background-color: white;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formContainer td{
    padding-bottom: 10px;
    width: 33%;
}
table{
    border-spacing: 0 1px;
    table-layout: fixed;
}
.fullWidth{
    width: 100%;
}
.halfWidth{
    width: 50%;
}
.fullHeight{
    height: 100vh;
}
.userText{
    padding: 10px;
    font-family: 'Poppins-Light';
    color: white;
}

.star{
    color: red;
}
.formButton{
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border-width: 0;
    font-family: 'Poppins-Light';
    font-size: 15px;
    margin-right: 2px;
}
.formButton:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.formInput{
    padding: 15px;
    font-size: 15px;
    border-width: 0;
    background-color: #f2f5f9;
}
.formInput:focus-visible{
    outline-color: rgb(60, 216, 81);
    outline-style: auto;
    outline-width: 1px;
}

.greenBtn{
    background-color: #58b164;
}
.greenBtn:hover{
    background-color: rgb(50, 184, 68);
}
.blueBtn{
    background-color: rgb(60, 154, 216);
}
.blueBtn:hover{
    background-color: #2b78ab;
}
.outBtn{
    background-color: rgb(241, 59, 26);
}
.outBtn:hover{
    background-color: rgb(207, 50, 23);
}
.horizontalContainer{
    display: flex;
    flex-direction: row;
}
.logoutCollider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--global-primary-base);
    align-items: center;
    height: 10%;
}
.tableDiv{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.tableContainer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 75%;
}
.paginatorContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    background-color: var(--global-gray-dark);
    font-family: Poppins-Light;
    font-size: 13px;
}
.paginatorExplanation{
    flex: 1;
    padding: 18px;
}
.paginator{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.paginatorButton{
    background-color: var(--global-third-color);
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.paginatorButton:hover{
    cursor: pointer;
    background-color: var(--global-primary-base);
}
.selectedPaginator{
    background-color: var(--global-primary-base);
}
.boldText{
    font-family: Poppins-Semi-Bold;
}
.lightFont{
    font-family: Poppins-Light;
}
.regularFont{
    font-family: Poppins-Regular;
}
.blackText{
    color: black;
}
.paginatorA{
    text-decoration: none;
    padding: 18px;
}

.col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.row-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bigTopMargin{
    margin-top: 30px;
}
.topMargin{
    margin-top: 10px;
}


.row-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.font18{
    font-size: 18px;
}
.padding{
    padding: 10px;
}
.marginRight{
    margin: 5px
}
.centeredContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mintBackground{
    background-color: mintcream;
}
.inlineButton{
    display: inline-block;
    width: 75%;
    text-align: center;
}
.titleText{
    font-family: Poppins-Bold;
    text-align: center;
    font-size: 25px;
}